parameters:
  # Disable all phpstan rules.
  customRulesetUsed: true
  excludePaths:
    - /app/vendor/*
    - */assets/src/lib/campaignmonitor/samples/*
    - */tests/*
    - */bootstrap/scripts/*
  scanDirectories:
    - /app
  fileExtensions:
    - php
    - theme
    - inc
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - message: '#^Calling debug_backtrace\(\) is forbidden, please change the code$#'
      count: 1
      path: /app/web/themes/custom/bootstrap/src/Bootstrap.php
    - message: '#^Calling print_r\(\) is forbidden, please change the code$#'
      count: 1
      path: /app/web/themes/custom/bootstrap/src/Bootstrap.php
    # Allow undefined constants to be ignored as they are not meant to be disallowed.  
    - message: '#^Cannot access constant#'
  disallowedStaticCalls:
    - method: 'Drupal::httpClient()'
      message: 'please change the code'
    - method: 'Drupal::service()'
      message: 'service "page_cache_kill_switch" is not allowed.'
      allowExceptParams:
        -
          position: 1
          value: 'page_cache_kill_switch'    
  disallowedNamespaces:
    - class: 'GuzzleHttp\Client'
      message: 'please change the code'
